@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<h4>Well these are some of the things i know about myself</h4>

<p>Software Engineer with a demonstrated history of working in the information technology and services industry<br> 
I am a graduate from the University of Benin, Nigeria, where I majored in Electrical and Electronic Engineering.<br> 

My technical proficiencies include:<br> 

Backend: C#, Java and Python<br> 

Frontend: HTML, CSS, JavaScript, Blazor<br> 

Database: SQL (MySQL, PostgreSQL)<br> 

Others: Docker, Git, Linux (Scripting), Azure analyst, Devop
</p>
