@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<h3><strong>Well these are some of the things i know about myself</strong></h3>

<p>Software Engineer with a demonstrated history of working in the information technology and services industry<br> 
I am a graduate from the University of Benin, Nigeria, where I majored in Electrical and Electronic Engineering.<br> 

<strong>My technical proficiencies include:</strong><br> 

<strong>Backend:</strong>  C#, Java and Python<br> 

<strong>Frontend:</strong> HTML, CSS, JavaScript, Blazor<br> 

<strong>Database:</strong> SQL (MySQL, PostgreSQL)<br> 

<strong>Others:</strong> Docker, Git, Linux (Scripting), Azure analyst, Devop
</p>
