@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4><strong>My contact page.</strong></h4>

<address>
    Lawani street<br />
    Jibowu Fadeyi, Lagos 100252<br />
    <abbr title="Phone">P:</abbr>
    +2348113867034
</address>

<address>
    <strong>Email:</strong> <a href="mailto:walbhota@gmail.com">Walbhota@gmail.com</a><br />
</address>


