@page
@model IndexModel
@{
    ViewData["Title"] = "My Devop Projext";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="https://twitter.com/WEbhota">
                <img src="~/images/tweetThis.svg" />
            </a>            
        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> Using GitHub Workflow setup</div>
            <div class="description line-2"> My ASP.NET MVC app is up and running on Azure</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Take a look inside my Repository </h2>
        <p>
            Go through my Repository
        </p>
        <p><a class="btn btn-default" href="https://www.github.com/walbhota">Learn more &raquo;</a></p>
    </div>
</div>

